
@{
  Layout = "_Layout";
}
<div class="homeDiv">
<h1>Welcome to the salon! </h1>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
</div>